#CSS

/* Ubah Warna Background Keseluruhan */
.md-main {
  background-color: #E6E6FA !important; /* lavender */
}

/* Ubah Warna Header */
.md-header {
  background-color: #6A5ACD !important; /* slate blue */
}

/* Kalau Mau Teks Header Ikut Kontras */
.md-header .md-header__title,
.md-header .md-header__topic {
  color: white !important;
}

