
:root {
  /* Warna utama (header, link aktif, tombol, dsb) */
  --md-primary-fg-color: #B65EBA;
  --md-primary-fg-color--light: #ff8f66;
  --md-primary-fg-color--dark: #c70039;

  /* Warna background utama */
  --md-default-bg-color: #f4f4f4;
}

.md-header {
  background-color: #B65EBA !important;
}

body {
  background-color: #f4f4f4 !important;
}

